body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #ddd;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  cursor: pointer;
}

section {
  display: none;
  padding: 15px;
}

section.active {
  display: block;
}

textarea {
  width: 100%;
  height: 6.25em;
  resize: none;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.readButton,
.deleteButton {
  margin: 5px;
  padding: 3px 15px 3px 15px;
}

#historyContainer > * {
  font-size: 120%;
}
